@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@400;600;700&display=swap");
$montserrat: "Montserrat", sans-serif;
$montserratTwo: "Montserrat Alternates", sans-serif;
$epcstColor: #86c127;
$secondary: rgba(218, 218, 218, 0.089);
