.home {
  position: relative;
  overflow: hidden;

  .floats {
    img {
      max-width: 20%;
      position: absolute;
      z-index: -1;
    }
    .cloud__left_1 {
      top: 27%;
      left: -1%;
      animation-name: cloudl1;
      animation-timing-function: ease-in-out;
      animation-duration: 4s;
      animation-delay: 0;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-play-state: unset;
    }
    .cloud__right_1 {
      transform: rotateY(180deg);
      top: 35%;
      left: 48%;
      animation-name: cloudr1;
      animation-timing-function: ease-in-out;
      animation-duration: 4s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-play-state: unset;
    }
    .shape__1 {
      max-width: 50%;
      right: -20%;
      top: 15%;
      transform: rotate(-95deg);
      animation-name: shape1;
      animation-timing-function: ease-in-out;
      animation-duration: 1.3s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-play-state: unset;
    }
  }

  &__showcase {
    background: rgba(218, 218, 218, 0.164);
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 20% 1fr 1fr;
    &_img {
      max-width: 50%;
      grid-column: 2/3;
      grid-row: 2/3;
      align-self: center;
    }

    &_info {
      grid-column: 2/3;
      grid-row: 1/2;
      margin-top: 2rem;
      align-self: flex-start;
      h3 {
        margin: 0rem 0 0.5rem;
        font-size: 1.3rem;
        font-family: $montserratTwo;
        color: $epcstColor;
      }
    }

    h1 {
      margin-bottom: 1rem;
    }

    &_footer {
      align-self: flex-start;
      margin-top: 1rem;
      grid-column: 2/3;
      grid-row: 3/4;
      button {
        background: none;
        margin: 2rem 0;
        position: relative;
        overflow: hidden;
        background: $epcstColor;
        z-index: 1;
      }
      p {
        line-height: 1.6;
      }
    }
  }
}

@keyframes cloudr1 {
  0% {
    top: 35%;
  }
  100% {
    top: 37%;
    left: -2%;
    opacity: 0.2;
  }
}
@keyframes cloudl1 {
  0% {
    left: -2%;
  }
  100% {
    left: 45%;
    opacity: 0.2;
  }
}

@keyframes shape1 {
  0% {
    right: -20%;
    top: 15%;
  }
  100% {
    top: 25%;
    max-width: 45%;
    fill: red;
  }
}
