.home__showcase {
  background: rgba(218, 218, 218, 0.164);
  height: fit-content;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr 1fr 1fr;
  &_img {
    max-width: 50%;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
  }

  &_info {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    h3 {
      margin: 3rem 0 0.5rem;
      font-size: 1.3rem;
      font-family: $montserratTwo;
      color: $epcstColor;
    }
  }

  h1 {
    margin-bottom: 2rem;
  }

  &_footer {
    align-self: flex-start;
    margin-top: 2rem;
    grid-column: 2/3;
    grid-row: 3/4;
    button {
      margin: 2rem 0;
    }
    p {
      line-height: 1.6;
    }
  }
}
